/* your styles go here */

/* out of library form */
#out_of_library.container {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 200px;
  padding-left: 200px;
}

div.form-out-of-library {
  margin-left: 5%;
  margin-right: 5%;
}


#staff_picks.container {
  display:flex;
  justify-content: center;
  padding-top: 75px;
  padding:bottom: 75px;
  padding-right: 300px;
  padding-left: 300px;
}

div.form-staff_picks {
  margin-left: 5%;
  margin-right: 5%;
}


.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* report issue buttons*/
.report_button {
  margin-top: 1em;
}

.report_button .row {
  margin: 0px;
}

.report_button .btn {
  width: 100%;
  padding: .5em;
}

#report_issue {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 95px;
}

#report_issue .report_forms {
  width: 85%;
}

#report_issue .heading {
  padding: 15px;
}


/*search bar */
#top .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

#top .row {
    width: 75%;
    margin-left: auto;
}

/*Search bar and button styling*/

.input-group .btn{
  border-radius:50%;
  position: absolute;
  background-color: #7EC28A;
  color: white;
  top: 1px;
  right: 1px;
  z-index: 100;
  width:38px;
  height: 38px;
}


i.fa.fa-search {
  position: relative;
  right: 7px;
  display: inline-block;
  font-size: 1.3em;
}

.input-group .btn:hover {
  color: white;
  background-color: #6aae7a;
}

.input-group .form-control {
    border-radius: 20px !important;
    height: 40px;
    padding-left: 30px;
    font-size: 1.3em;
}

/*enlarge social icons*/
.social .fa-2x{
  font-size: 3em;
  margin: 0px 15px;
}


/*top bar*/
#top .social a {
  color: #ffffff;
  padding-right: 35px;
}

#top {
  background: #999999;
}

/* home banner*/
.header {
  padding: 60px;
  text-align: center;
  background: #6aae7a;
  color: white;
  font-size: 30px;
}

.header h1 {
  color: white;
  display: inline-block;
  border-bottom: solid 1px #ffffff;
  line-height: 1.1;
  margin-bottom: 10;
  padding-bottom: 10px;
  vertical-align: middle;
  letter-spacing: .02em;

}

.header p {
  font-size: .8em;
}


/*reference button*/
.header .reference_btn {
  padding: 10px 24px;
}

.reference_btn:hover {
  background-color: #eeeeee;
  color: #6aae7a;
}

.header div .div-button {
  padding-top: 10px;
}

.btn {
  border-radius: 8px;
}



/* drop down menu - hover */

li.dropdown:hover ul {
  display: block !important;
}

.sidenav {
  font-size: 14px;



/*footer -- isn't working yet*/

 #footer p .contact{
    color: lightgray;
    font-weight: bold;
    text-align: right
  }

.list-border li {
  border-bottom-style: dashed;
  border-bottom-color: white;
  border-bottom-width: 1px;
  box-sizing: border-border-box;
}


div .icon {
  color: red;
}
