/* your styles go here */

/* out of library form */
#out_of_library.container {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 200px;
  padding-left: 200px;
}

div.form-out-of-library {
  margin-left: 5%;
  margin-right: 5%;
}


#staff_picks.container {
  display:flex;
  justify-content: center;
  padding-top: 75px;
  padding:bottom: 75px;
  padding-right: 300px;
  padding-left: 300px;
}

div.form-staff_picks {
  margin-left: 5%;
  margin-right: 5%;
}


.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* report issue buttons*/
.report_button {
  margin-top: 1em;
}

.report_button .row {
  margin: 0px;
}

.report_button .btn {
  width: 75%;
  padding: .5em;
}

#report_issue {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 95px;
}

#report_issue .report_forms {
  width: 85%;
}

#report_issue .heading {
  padding: 15px;
}


/*Search bar and button styling*/

#top .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

#top .row {
    width: 75%;
    margin-left: auto;
}

.input-group .btn{
  border-radius:50%;
  position: absolute;
  background-color: #7EC28A;
  color: white;
  top: 2.4px;
  right: 2px;
  z-index: 100;
  width:35px;
  height: 35px;
}

i.fa.fa-search {
  position: relative;
  right: 7.5px;
  display: inline-block;
  font-size: 1.3em;
}

.input-group .btn:hover {
  color: white;
  background-color: #6aae7a;
}

.input-group .form-control {
    border-radius: 20px !important;
    height: 40px;
    padding-left: 30px;
    font-size: 1.2em;
}

/*enlarge social icons*/
.social .fa-2x{
  font-size: 2.7em;
  margin: 0px 15px;
  padding-top: 4px;
}


/*top bar*/
#top .social a {
  color: #ffffff;
  padding-right: 35px;
}

#top {
  background: #999999;
}

/* home banner*/
.header {
  padding: 50px 0;
  text-align: center;
/*  background: url(../img/texture-bw.png) center center repeat; */
  color: #555555;
  font-size: 30px;
}

.header h1 {
  color: #555555;
  display: inline-block;
  border-bottom: solid 1px darkgray;
  border-bottom: solid 5px #6aae7a;
  line-height: 1.1;
  margin-bottom: 10;
  padding-bottom: 10px;
  vertical-align: middle;
  letter-spacing: .08em;
  padding-top:
}

.header p {
  font-size: .8em;
}


/*reference button*/
.header .reference_btn {
  padding: 10px 24px;
}

.reference_btn:hover {
  background-color: #eeeeee;
  color: #6aae7a;
}

.header div .div-button {
  padding-top: 10px;
}

.btn {
  border-radius: 8px;
}


/*sidenav: on-desk*/

#sidenav-desk {
  font-size: 1.3em;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;

}

/* to change sidenav color when active - doesn't work yet*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #6aae7a;
}

/*on desk*/

.main {
  padding-right: 35px;
}

/*jumbotron: on desk*/

.desk-jumbotron {
  background-color: #;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  height: 130px;
  padding-top: 30px;
}

.jumbotron h1 {
  font-size: 2em;
}

.jumbotron p {
  font-size: 1.2em;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron p,
.jumbotron ul {
  color: rgb(28, 26, 26);
}

.jumbotron .btn-primary {
  background-color: #ffbd32;
  border: none;

}

/*jumbotron: home page*/

.home-jumbotron {
  text-align: center;
  height: 200px;
  background-color: #;
  margin-top: 10px;
  height: 200px;
  padding-top: 20px;
  color: #555555;
}

.home-jumbotron h1 {
  color: #555555;
}

.home-jumbotron p {
  color: #555555;
}

/*on desk - allow relative links to jump properly to headers covered by fixed topnav*/

h2 {
  padding-top: 80px;
  margin-top: -80px;
}

/*top nav */

#topbar {
  position: fixed;
}

/*on desk content*/

.main {
  margin-right: 30px;
}

.content {
  margin-bottom: 50px;
}

.div-button.content {
  margin-top: 15px;
}

/*footer*/

.footer-info {
  color: #EDEDED;
}


.contact i {
  padding-right: 15px;
}

.hours {
  margin-right: 40px;
  padding-right: 0px;
}

.contact2 {
  padding-top: 35px;
}

#copyright {
  padding: 20px 0;
}

/* handbook */

.thumbnail {
  text-align: center;
  width: 25rem;
  height: 29rem;
  padding-top: 40px;
  margin: 5rem auto;
  -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
  position: relative;
}

.thumbnail p {
  padding-bottom: 15px;
}


.thumbnail:hover {
  width: 26rem;
  height: 30rem;
}

.btn-handbook {
  position: absolute;
  bottom: 10%;
  left: 33%;
  margin: auto;
}

a.handbook {
  width: 100%;
  height: 100%;
  color: #555555;
}

a.handbook:hover {
    font-size: 1.1em;
}

a.handbook:hover h3{
    font-size: 160%;
}

a:hover {
  text-decoration: none;
}


a:hover h3  {
  text-shadow:  1px 1px 2px rgba(153,153,153, .40);
  font-size: 140%;
}


#policy {
  background-color: #4ac6d6;
}

#procedure {
  background-color: #4fc99a;
}

#form {
  background-color: #f48fb1;
}

#slip {
  background-color: #ffc035;
}

#training {
  background-color: rgb(244, 130, 80);
}

#programs-handbook {
  background-color: #c7c5e1;
}

/*features*/

.icon {
  border-radius: none;
  border: none;
  line-height: 120px;
}

a:hover i.fa {
  text-shadow: 2px 1px 2px  rgba(153,153,153, .25);
}

a.home-features:hover {
font-size: 1.1em;
}


a:hover p  {
  font-size: 110%;
}

.ADP {
  color: #f5ac58;
}

.Wekan {
    color: #2980b9;
}

.Koha {
  color:#c5e589;
}

.Slack {
  color: #611f69;
}

.Schedule {
  color: #988C2D;
}

.Programs{
  color: #c45488;
}
