<div class="container">
  <div class="row">

<!--Training-->

    <div class="col-sm-4">
      <a href="https://drive.google.com/drive/u/0/folders/0AIt1Dx5FdaxSUk9PVA" target="_blank" class="handbook"><div class="thumbnail" id="training">
        <i class="fa fa-4x fa-graduation-cap" aria-hidden="true"></i>
        <div class="caption">
          <h3>Training & Procedures</h3>
          <p>How to do things.</p>
        </div>
      </div>
      </a>
    </div>

<!--Policies-->

    <div class="col-sm-4">
      <a href="https://github.com/leblibrary/Policies" target="_blank" class="handbook">
      <div class="thumbnail" id="policy">
        <i class="fa fa-4x fa-book" aria-hidden="true"></i>
        <div class="caption">
          <h3>Policies</h3>
          <p>Circulation, displays, meeting rooms, etc.</p>
        </div>
      </div>
      </a>
    </div>

    <!--Programs-->

    <div class="col-sm-4">
      <a href="https://drive.google.com/drive/u/0/folders/0ADG4kZf9kVFyUk9PVA" target="_blank" class="handbook">
        <div class="thumbnail" id="programs-handbook">
        <i class="fa fa-4x fa-users" aria-hidden="true"></i>
        <div class="caption">
          <h3>Programs</h3>
          <p>Running programs, statistics</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Library Forms-->
<div class="row">
    <div class="col-sm-4">
      <a href="https://drive.google.com/drive/u/0/search?q=type:form" target="_blank" class="handbook"><div class="thumbnail" id="form">
        <i class="fa fa-4x fa-list" aria-hidden="true"></i>
        <div class="caption">
          <h3>Library Forms</h3>
          <p>Internal forms for library use.</p>
        </div>
      </div>
    </a>
    </div>

    <!-- City Forms-->
        <div class="col-sm-4">
          <a href="https://app.docusign.com/templates?view=shared" target="_blank" class="handbook"><div class="thumbnail" id="docusign">
            <i class="fa fa-4x fa-file-text" aria-hidden="true"></i>
            <div class="caption">
              <h3>Docusign</h3>
              <p>Docusign forms for the City of Lebanon. Reimbursement requests, etc.</p>
            </div>
          </div>
        </a>
        </div>

<!--Templates & Slips-->

    <div class="col-sm-4">
      <a href="https://drive.google.com/drive/u/0/folders/0ADkZjkYqxLAyUk9PVA" target="_blank" class="handbook">
      <div class="thumbnail" id="slip">
        <i class="fa fa-4x fa-rocket" aria-hidden="true"></i>
        <div class="caption">
          <h3>Templates & Slips</h3>
          <p>Mending slips, holds in transit, ILL slips, etc.</p>
        </div>
      </div>
      </a>
    </div>

    <!--Social Media-->
  <div class="row">
    <div class="col-sm-4">
      <a href="https://drive.google.com/drive/u/0/folders/1-GyOm9LwaU9gKmUmlroqwdkeBlGPZ-vC" target="_blank" class="handbook">
      <div class="thumbnail" id="social">
        <i class="fa fa-4x fa-heart" aria-hidden="true"></i>
        <div class="caption">
          <h3>Social Media</h3>
          <p>Account information</p>
        </div>
      </div>
      </a>
    </div>
   </div>


  </div>
</div>
