 <div class="container" id="contact-form">

    <div class="row">
        <div class="col-md-12">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading text-center">
                  <h3>Contact Form</h3>
                </div>

                <div id="staff-picks" class="contact-text staff-picks">Suggestions, comments, complaints? You've come to the right place! Your message will be anonymous, and goes straight to Sean.</div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="https://getform.io/f/e1e7ef31-97d0-4f22-82d8-87a086cb4c81">
                    <div class="row form-staff_picks">


                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">What would you like to say?</label>
                                <textarea id="contact-message" class="form-control contact-message-area" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>Submit</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>


    </div>
    <!-- /.row -->
</div>
