<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">
            <section>
              <a href="https://intranet.leblibrary.com/communication/extensions/">Library Extensions</a> <br/>
              <a href="https://docs.google.com/spreadsheets/d/1Q1kC27vcRjcOPzp7boGpI5JIO-UdivEiB5V899qzPpk/edit#gid=0">Internal Staff Directory</a></br>
              <a href="https://docs.google.com/spreadsheets/d/1iM955FcJ70ceXiZEtEchSIfstE57oGNWBd9if0sTJJM/edit#gid=1350469998">City Directory</a>
            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
