{{ if isset .Site.Params "deskfeatures" }}
{{ if .Site.Params.deskfeatures.enable }}
{{ if gt (len .Site.Data.deskfeatures) 0 }}
<section class="bar background-white">
    <div class="container desk-container col-md-12">

        {{ range $index, $element := sort .Site.Data.deskfeatures "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">

            <div class="row">
		{{ end }}
				
        {{partial "logo-or-icon.html" (dict "context" . "class" $.Site.Params.deskfeatures.class) }}

		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.deskfeatures) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>


</section>
{{ end }}
{{ end }}
{{ end }}
