{{ if isset .Site.Params "handbookfeatures" }}
{{ if .Site.Params.handbookfeatures.enable }}
{{ if gt (len .Site.Data.handbookfeatures) 0 }}
<section class="bar background-white">
    <div class="container">

        {{ range $index, $element := sort .Site.Data.handbookfeatures "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">

            <div class="row">
		{{ end }}
				
        {{partial "logo-or-icon.html" (dict "context" . "class" $.Site.Params.handbookfeatures.class) }}
        
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.handbookfeatures) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>


</section>
{{ end }}
{{ end }}
{{ end }}
