<div id="time-off">
    <div class="container">
      
        <div class="row">
            <div class="col-md-12 row-img">
                <div class="col-md-6 row-section">
                    <div class="">
                    <h1>Expense Reimbursement</h1>
                    <p>Fill out these forms monthly to get reimbursed for gas or other library-related expenses. Examples include:</p>
                         <ul>
                             <li>Driving between library buildings</li>
                             <li>Making purchases for library supplies</li>
                         </ul>
                    <a href="/docs/mileage-2024.xlsx" download="mileage-2024.xlsx"><button class="btn btn-template-main">Mileage Form</button> </a>
                    <a href="/docs/Expense-reimbursement.xlsx" download="Expense-reimbursement.xlsx"><button class="btn btn-template-main">Expense Form</button> </a>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <img src="/undraw_make_it_rain_sean.svg" class="img-responsive">
                </div>
            </div>
        </div>  
        
    </div>
</div>
