<!-- <div class="jumbotron home-jumbotron container">
  <h1>On Desk Tabs</h1>
  <p>Open ADP, Koha, Google Calendar, Wekan, Slack, Gmail, meeting rooms calendar, and library websites with one click.</p>
  <p><a class="btn btn-primary btn-lg" role="button" onclick="multiLink()">Open Main Desk Tabs</a></p>
</div>
-->

<!--<div class="accordion" id="accordionExample">
  <div class="card">
     <div class="card-header" id="headingTwo">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Open Main Desk Tabs
         </button>
       </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
       <div class="card-body">
         Open ADP, Koha, Google Calendar, Wekan, Slack, Gmail, meeting rooms calendar, and library websites with one click.
         <p><a class="btn btn-primary btn-lg" role="button" onclick="multiLink()">Open Main Desk Tabs</a></p>
       </div>
     </div>
   </div>
  </div>-->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title  text-center">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Open Main Desk Tabs
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body text-center">
          Open ADP, Koha, Google Calendar, Wekan, Slack, Gmail, meeting rooms calendar, and library websites
          <p><a class="btn btn-primary btn-lg" role="button" onclick="multiLink()">Open Main Desk Tabs</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>
