
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">

        {{ partial "sidenav-desk.html" . }}

        <div class="col-sm-10">
        <div role="container main" class="main">

        {{ partial "desk-jumbotron.html" . }}

        <div class="container">

          <h3 class="desk-headers" id="tools">Desk Tools</h3>

          {{ partial "deskfeatures.html" . }}

          <h3 class="desk-headers" id="communication">Communication</h3>

          {{ partial "contactfeatures.html" . }}

          <h3 class="desk-headers" id="reservations">Reservations</h3>

          {{ partial "reservationfeatures.html" . }}

          <h3 class="desk-headers" id="programs">Programs</h3>

          {{ partial "programfeatures.html" . }}

         {{ .Content }}

        </div>
        </div>
        </div>
</div>
</div>
</div>
