<div class="container" id="out_of_library">

    <div class="row">
        <div class="col-md-12">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading text-center">
                  <h3>Out of Library</h3>
                </div>

                <div id="contact-message" class ="contact-message">Can't make it to work? Let us know!</div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="https://usebasin.com/f/01090760549e">
                    <div class="row form-out-of-library">
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="name"><strong>{{ i18n "contactName" }}</strong></label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email"><strong>{{ i18n "contactMail" }}</strong></label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
<!------------------------------------ Reason --------------------------------->
                        <div class="col-sm-12">
                        <label for="reason"><strong>Reason</strong></label>
                    
                            <div class="radio">
                              <label>
                                <input class="form-check-input" type="radio" name="reason" id="Sick" value="sick">Sick
                              </label>
                            </div>
                         
    
                            <div class="radio">
                              <label>
                                <input type="radio" name="reason" id="schedule">Schedule Change
                                </label>
                            </div>
  
                          <div class="radio">
                            <label>
                            <input class="form-check-input" type="radio" name="reason" id="vacation">
                              Vacation
                            </label>
                          </div>
           
                            <div class="radio">
                              <label>
                                <input type="radio" name="reason" id="other">
                                Other
                              </label>
                            </div>
                        </div>
                       
                    
                    
<!------------------------------------ Message --------------------------------->

                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message"><strong>Message </strong>(Shifts or programs to cover, dates, times, etc.)</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>Send</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>


    </div>
    <!-- /.row -->
</div>
