{{ if isset .Site.Params "programspagefeatures" }}
{{ if .Site.Params.programspagefeatures.enable }}
{{ if gt (len .Site.Data.programspagefeatures) 0 }}
<section class="bar background-white">
    <div class="container">

        {{ range $index, $element := sort .Site.Data.programspagefeatures "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">

            <div class="row">
		{{ end }}
				<div class="col-md-4">
                    <a href="{{ .url }}" target="_blank"> <div class="box-simple">
                        <div class="icon programspagefeatures">
                            <i class="{{ .icon }}  {{ .name }}"></i>
                        </div>
                        <h3>{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div></a>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.programspagefeatures) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>


</section>
{{ end }}
{{ end }}
{{ end }}
