<div class="container" id="report_issue">

    <div class="row">
        <div class="col-md-12">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading text-center">
                  <h3>Report an Issue</h3>
                </div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="https://intranet.leblibrary.com/report-a-building-issue/">
                    <div class="row issue-button">

                        <div class="col-sm-6 text-center">
                          <button type="button building-button" class="btn btn-template-main"><i class="fa fa-building-o"></i>Building Issue</button>

                        </div>
                    </div>
                  </form>
              
                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="https://help.leblibrary.com/">
                    <div class="row issue-button">


                        <div class="col-sm-6 text-center">
                          <button type="button tech-button" class="btn btn-template-main"><i class="fa fa-laptop"></i>Tech Issue</button>

                        </div>
                    </div>

                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>


    </div>
    <!-- /.row -->
</div>
