

<div class="sidenav">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active" data-toggle="pill"aria-haspopup="true" aria-expanded="false"><a href="ref-circ.html">Lebanon Library<span class="caret"></span></a>
  </li>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Opening Checklist</a>
    <a class="dropdown-item" href="#">Newspaper Check In Form</a>
    <a class="dropdown-item" href="#">Closing Checklist</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Tools</a>
        <a class="dropdown-item" href="#">Resources</a>
  </div>
  <li role="presentation" data-toggle="pill"><a href="ref-circ-kilton.html">Kilton Library<span class="caret"></span></a></li>
</ul>

</div>
</span>
