
<div id="sidenav-desk" class="sidenav">
    <div class="col-sm-3" role="complementary">
<ul class="nav nav-pills nav-stacked">
  <li class="nav-item active" data-toggle="pill"><a class="nav-link active" href="#tools">Tools</a></li>

  <li class="nav-item" data-toggle="pill">
    <a class="nav-link" href="#reservations">Reservations</a>
  </li>
  <li class="nav-item" data-toggle="pill">
    <a class="nav-link" href="#programs">Programs</a>
  </li>
  <li class="nav-item" data-toggle="pill">
    <a class="nav-link" href="#ill">Interlibrary Loan (ILL)</a>
  </li>
  <li class="nav-item" data-toggle="pill">
    <a class="nav-link" href="#ra">Readers Advisory</a>
  </li>
  <li class="nav-item" data-toggle="pill">
    <a class="nav-link" href="#research">Research and Genealogy</a>
  </li>
</ul>
    </div>
  </div>
