



    <div id="sidenav-desk" class="sidenav col-sm-2 hidden-xs hidden-sm" role="complementary">
        <ul class="nav nav-pills nav-stacked" onclick="active()">
          <li class="nav-item active" role="presentation"><a class="nav-link" href="#tools">Tools</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#reservations" class="nav-link">Reservations</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#communication" class="communication">Communication</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#programs">Programs</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#ra">Readers Advisory</a>
          </li>
        </ul>
        </div>
