<div id="time-off">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pl-0 vacation">
                <div class="col-md-6">
                    <img src="/undraw_aircraft.svg" class="img-responsive">
                </div>

                <div class="col-md-6 time-off-text">
                    <h1>Want a vacation?</h1>
                    <p>Submit a time off request</p>
                    <a href=""><button class="btn btn-template-main">Go to form</button> </a>
                    <a href=""><button class="btn btn-template-main">ADP</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 out-of-library">
                <div class="col-md-6 time-off-text">
                    <h1>Calling out sick?</h1>
                    <p>Let us know if you can't make it to your shift</p>
                    <a href="https://intranet.leblibrary.com/out_of_library.html"><button class="btn btn-template-main">Go to form</button> </a>
                </div>
                
                <div class="col-md-6">
                    <img src="/undraw_medical_research.svg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
