<div id="time-off">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pl-0 vacation">
                <div class="col-md-6 vacation-section">
                    <img src="/undraw_aircraft.svg" class="img-responsive">
                </div>

                <div class="col-md-6 vacation-section">
                    <div class="">
                    <h1>Going on vacation?</h1>
                    <p>Let us know and submit a time off request.</p>
                    <a href="https://intranet.leblibrary.com/time_off_form.html"><button class="btn btn-template-main">Go to form</button></a>
                    <a href="https://adpeet2.adp.com/102tc7p/logon/logonWFC.html"><button class="btn btn-template-main">ADP</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 out-of-library">
                <div class="col-md-6 vacation-section">
                    <div class="">
                    <h1>Feeling sick?</h1>
                    <p>Let us know if you can't make it to your shift.</p>
                    <a href="https://intranet.leblibrary.com/out_of_library.html"><button class="btn btn-template-main">Go to form</button> </a>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <img src="/undraw_medical_research.svg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
