{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container">
    <div class="row">

      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div>
      </div>

    <div class="col-xs-5">
<!--        {{ .Site.Params.topbar.text | safeHTML }}
      <form id="searchform" class="search-form" action="//google.com/search" method="get" accept-charset="UTF-8" role="search">
        <div class="input-group">
          <input type="search" name="q" class="form-control" placeholder="{{ i18n "searchTitle" }}">
          <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}">
          <span class="input-group-btn">Search</span>
              <button type="submit" class="btn btn-template-main-reference"><i class="fa fa-search"></i></button>
        </div>
      </form> -->
      <script async src="https://cse.google.com/cse.js?cx=000644681498896201208:qenn6uwmphw"></script>
      <div class="gcse-search"></div>

        </div>

    </div>
  </div>
</div>
{{ end }}
