<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

        {{ partial "head.html" . }}


  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}


        </header>

        {{ partial "announce-banner.html" . }}

        {{ partial "banner.html" . }}

        {{ partial "features.html" . }}

        <hr/>

        {{ partial "report_issue.html" . }}

        {{ partial "reportfeatures.html" . }}


        <hr/>

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}


  </body>
</html>
